<h1>Create a blog post</h1>

<form action="/posts" method="POST">
  <label>Name: </label>
  <input type="text" name="name" id="name" /> <br />
  <label>Content: </label>
  <textarea name="content" id="content"></textarea>
  <input type="submit" value="Submit" id="submit" />
</form>